In [ ]:
import pandas as pd

In [ ]:
weather = pd.read_csv("/content/weatherHistory.csv")

In [ ]:
weather.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [ ]:
weather.mean()

<ipython-input-6-9d3f393035b7>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  weather.mean()

Temperature (C)              10.500130
Apparent Temperature (C)      9.284693
Humidity                      0.776707
Wind Speed (km/h)             9.984926
Wind Bearing (degrees)      190.824835
Visibility (km)               9.566518
Loud Cover                    0.000000
Pressure (millibars)        997.989355
dtype: float64

In [ ]:
weather.median()

<ipython-input-7-ab5d10f27c37>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  weather.median()

Temperature (C)               10.911111
Apparent Temperature (C)      10.911111
Humidity                       0.830000
Wind Speed (km/h)              9.080400
Wind Bearing (degrees)       191.000000
Visibility (km)                9.982000
Loud Cover                     0.000000
Pressure (millibars)        1016.770000
dtype: float64